server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/authdb
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  h2:
    console:
      enabled: false

jwt:
  secret: ${JWT_SECRET:supersecretkey}
  expiration: 86400000
  refresh-expiration: 604800000

internal:
  api-key: ${INTERNAL_API_KEY:internal-dev-key}

logging:
  level:
    org.springframework.security: INFO
    org.springframework.web: INFO
    com.marketplace.auth_service: DEBUG
