server:
  port: 8081

spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8082
          predicates:
            - Path=/auth/**

        - id: product-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/products/**

        - id: vendor-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/vendor/**
